/****** Object:  Table [dbo].[MTitle]    Script Date: 8/18/2022 1:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[MTitle](
	[TitleId] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[GenderId] [int] NULL,
 CONSTRAINT [PK_MTitle] PRIMARY KEY CLUSTERED 
(
	[TitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MTitle_Description]    Script Date: 8/18/2022 1:52:48 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MTitle_Description] ON [dbo].[MTitle]
(
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MTitle_ShortName]    Script Date: 8/18/2022 1:52:48 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MTitle_ShortName] ON [dbo].[MTitle]
(
	[ShortName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
